<meta charset="UTF-8">
<!-- CSS (load bootstrap from a CDN) -->
<link href="/css/style.css" rel="stylesheet" type="text/css">
<header>
    <div class="nav-bar">
            <ul>
                <li><a href="/"> <span class="active">Início</span> </a></li>
                <li><a href="/numPrimo"> Números Primos </a></li>
                <li><a href="/somatorio"> Somatório </a></li>
                <li><a href="/fibonacci"> Fibonacci </a></li>
                <li><a href="/mdc"> MDC </a></li>
                <li><a href="/quickSort"> Ordenação </a></li>
                <li><a href="/contador"> Contagem </a></li>
            </ul>
    </div>
</header>