<meta charset="UTF-8">
<!-- CSS (load bootstrap from a CDN) -->
<link href="/css/style.css" rel="stylesheet" type="text/css">
<header>
    <div class="nav-bar">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/numPrimo"> Números Primos </a></li>
                <li><a href="/somatorio"> Somatório </a></li>
                <li><a href="/fibonacci"> Fibonacci </a></li>
                <li><a href="/mdc"> MDC </a></li>
                <li><a href="/quickSort"> Ordenação </a></li>
                <li><a href="/contador"> Contagem </a></li>
                <ul class='login-registro'>
                    <% if(typeof currentUser === 'undefined' || currentUser == null) { %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Cadastro</a></li>
                    <% } else { %>
                        <li><a href="/logout" id="deslogar">Deslogar</a></li>
                    
                        <% if(currentUser.displayName) { %>
                            <span class='username'><%= currentUser.displayName %></span>
                        <% } %>
                    <% } %>
                </ul>
            </ul>
    </div>
</header>