<!DOCTYPE html>
<html lang='en'>
<head>
    <%- include('./partials/head.ejs'); %>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Cadastro</title>
    <link rel="stylesheet" href="../css/login.css"/>
</head>

<body>

    <div class='content-box'>
        <h2>Faça seu cadastro</h2>

        <% if(typeof error !== 'undefined' && error != null) { %>
            <span class='error-form'><%= error %></span>
        <% } %>

        <form  method="POST" action="/cadastro">
            <label for="name">Nome:</label>
            <input type='text' class='input-field' name='name'>
            <label for="email">E-mail:</label>
            <input type='email' class='input-field' name='email'>
            <label for="password">Senha:</label>
            <input type='password' class='input-field' name='password'>
            <a href="/login">Já possui uma conta? Faça agora o seu login!</a>
            <input type='submit' value='Cadastrar'>
        </form>
    </div>
</body>
</html>
