<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contador</title>
</head>
<body>
    <h1><%= titulo %></h1>
    <form method="POST" action="/contador">
        <input name="num" type="text" id="numContador">
        <button type="submit">Mostrar!</button>
    </form>
</body>
</html>