<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Algoritmos Fundamentais</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="container">
        <a href="/contador">
            <div class="text">
                <span class="titulo">Números Primários</span>
                <span class="descricao">Qualquer número cujo conjunto dos divisores não inversíveis não é vazio.</span>
            </div>
            <div class="experimentar">
                <span>Experiemntar</span>
            </div>
        </a>
    </div>
    <!-- <h1><%= titulo %></h1>
    <img src="img/casa.PNG" alt="casa">
    <div>
        <a href="/fibonacci"> Sequência de Fibonacci </a>
    </div>
    <div>
        <a href="/mdc"> MDC </a>
    </div>     
    <div>
        <a href="/contador"> Contador </a>
    </div>     
    <div>
        <a href="/numPrimo"> Números Primos </a>
    </div>     
    <div>
        <a href="/somatorio"> Somatório </a>
    </div>     
    <div>
        <a href="/quickSort"> QuickSort </a>
    </div>      -->


</body>
</html>