<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <title>Site Algoritmos Fundamentais</title>
</head>
<body>
    <h1><%= titulo %></h1>
    <div>
        <a href="/fibonacci"> Sequência de Fibonacci </a>
    </div>
    <div>
        <a href="/mdc"> MDC </a>
    </div>     
    <div>
        <a href="/contador"> Contador </a>
    </div>     
    <div>
        <a href="/numPrimo"> Números Primos </a>
    </div>     
    <div>
        <a href="/somatorio"> Somatório </a>
    </div>     
    <div>
        <a href="/quickSort"> QuickSort </a>
    </div>     


</body>
</html>