<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>Números Primos</title>
</head>

<body>
    <div class="quadrados">
        <div class="titulo">
            <h1><%= titulo %></h1>
        </div>
        <div class="strong">
            <strong>Números primos são aqueles divisíveis apenas por 1 e por eles mesmos. Estão presentes na Matemática
                desde a Antiguidade, e vários métodos foram desenvolvidos a fim de verificar se um número é de fato
                primo, como o Crivo de Erastóstenes. Caso deseje saber se um número é primo ou não, informe um número
                inteiro no campo abaixo.</strong>
        </div>

        <div class="formulario">
            <form method="POST" action="/numPrimo">
                <p class="lbl1">Digite um número inteiro:</p>
                <input name="numP" type="text" id="input1">
                <button type="submit">Mostrar!</button>
            </form>
        </div>

        <p class="resposta">
            <%if (resultado) { %> <p><%= resultado %></p> <% } %>
        </p>
    </div>
</body>

</html>