<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>QuickSort</title>
</head>
<body>
    <div class="quadrados">
        <div class="titulo">
            <h1><%= titulo %></h1>
        </div>
        <div class="strong">
            <strong>O Quicksort é um dos algoritmos de ordenação mais conhecidos. Por ser um dos mais eficientes é largamente utilizado/customizado em projetos de linguagens de programação. Ele pertence a categoria de Ordenação por Troca ou Exchange Sort.</strong>
        </div>  
        <div class="formulario">
    <form method="POST" action="/quicksort">
        <p class="lbl1">Digite números inteiros separados por  " ; "</p>
        <input name="numArray" type="text" id="input1">
        <button id="mostrar">Mostrar!</button>
    </form>
        </div>
    <p class="resposta">
        <%if (resultado) { %>
            O array inserido foi: <%= numArray %>  <br> O array ordenado fica dessa maneira: <%= resultado %> 
        <% } %>    
    </p>
    </div>
</body>
</html>