<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickSort</title>
</head>
<body>
    <h1><%= titulo %></h1>
    <form method="POST" action="/quicksort">
        <input name="numArray" type="text" id="numQuick">
        <button id="mostrar">Mostrar!</button>
    </form>
    <p>
        <%if (resultado) { %>
            O array inserido foi: <%= numArray %>  <br> O array ordenado fica dessa maneira: <%= resultado %> 
        <% } %>    
    </p>
</body>
</html>