<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickSort</title>
</head>
<body>
    <h1><%= titulo %></h1>
    <form method="POST" action="/quicksort">
        <input name="numArray" type="text" id="numQuick">
        <button id="mostrar">Mostrar!</button>
    </form>
</body>
</html>