html, body{
    margin: 0;
    padding: 0;
}

.nav-bar{
    top: 0px;
    left: 0px;
    width: 100%; /* avisar pro Nilton*/
    height: 80px;
    box-shadow: 0px 3px 6px #00000029;
    background: #7A84FF 0% 0% no-repeat padding-box;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 60px;
}

li{
    transition: all .2s ease-in-out; 
    display: inline-block;
    margin-left: 6px;
}


li a {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color: #FFF;
    opacity: 0.66;
    text-decoration: none;
    display: inline-block;
    padding: 20px 40px;

}

span.active {
    font-weight: 600;
    color: #FFF;
    opacity: 1 !important;
    content: '';
}

li a:hover { 
    transform: scale(1.1); 
    opacity: 5 !important;
    border-bottom: 3px solid #fff;
}

li a:focus{
    opacity: 1;
}

body{
    background:#E6ECF0;
}

div.quadrados{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-size: 20px;
}

.strong{
    margin-top: 4px;
    top: 281px;
    left: 146px;
    width: 1200px;
    height: 70px;
    text-align: center;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #7D7D7D;
}

div.formulario{
    top: 474px;
    left: 474px;
    width: 444px;
    height: 127px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.flex-formulario {
    display: flex;
    margin-top: 25px;
}

.col-1 {
    justify-content: space-between;

}
.btn-mostrar-mdc {
    margin: 0 auto;
    text-align: center;
}


#input1,#input2{
    top: 546px;
    left: 474px;
    width: 281px;
    height: 55px;
    border: 2px solid #ffffff;
    border-radius: 20px;
    opacity: 1;
    font-size: 25px;
    align-items: center;
    margin-left: 26%;
    margin-right: 28%;
    margin-bottom: 15px;
    display: inline-block;
}


button{
    height: 70px;
    width: 210px;
    background: #7A84FF;
    left: 776px;
    width: 142px;
    height: 55px;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 1px 2px;

    border-radius: 20px;
    border: 0;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.2s;
}

button:hover{
    cursor: pointer;
    background: #4C59FF;

}

p.lbl1{
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    margin-bottom: 30px;
}

.formulario p{
    width: 600px;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    align-items: center;
    margin-top: 5px;
}

p.resposta{
    margin-top: 150px;
    text-align: center;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: #7D7D7D;
}


div.btn{
    margin-top: 20px;
    margin-left: 38%;
    margin-right: 40%;
}